.loginContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 12px;
}

.loginBox input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.loginBox button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
