.container {
  width: 100%;
  height: 100%;
  /* background: ; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 350px;
  height: 320px;
  padding: 1.5rem;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 24px rgba(0,0,0,0.25);
  position: relative;
  overflow: hidden;
}