.sidebar {
  height: 100%;
  display:flexbox;
  flex-direction: column;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.sidebar.collapsed {
  display: flex;
  align-items: center;
  width: 60px;
}

.sidebarHeader {
  padding: 10px 10px;
  display: flex;
}

.sidebarIcon {
  width: 32px;
  height: 32px;
}

.sidebarTitle {
  margin-left: 10px;
}

.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
}

.sidebarContent {
  padding: 0px 28px;
}
